<h1>{{roadmap.title}}</h1>
<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Type</th>
        <th>Options</th>
      </tr>
    </thead>
    <tr ng-repeat="checkpoint in roadmap.checkpoints">
      <div>
        <td>{{$index + 1}}</td>
        <td>
          <a ui-sref="checkpoint({id:checkpoint._roadmap, cpid:checkpoint._id})" ng-hide="roadmap.CPindex == $index">{{checkpoint.title}}</a>
          <input ng-model="editedCheckpoint.title" class="form-control" ng-show="roadmap.CPindex == $index">
        </td>
        <td>X</td>
        <td>
          <button type="submit" class="btn btn-warning btn-sm" ng-click="roadmap.toggleEditForm(checkpoint, $index)" ng-hide="roadmap.CPindex == $index">Edit</button>
          <button type="submit" class="btn btn-success btn-sm" ng-click="roadmap.updateCheckpoint(editedCheckpoint)" ng-show="roadmap.CPindex == $index">Save</button>
          <button type="submit" class="btn btn-danger btn-sm" ng-click="roadmap.deleteCheckpoint(checkpoint._id)">Delete</button>
        </td>
      </div>
    </tr>
  </table>


</div>

<div class="input-group">
  <input type="text" class="form-control" ng-model="roadmap.formData.title" placeholder="New Checkpoint">
  <span class="input-group-btn">
    <button class="btn btn-success" type="submit" ng-click="roadmap.createCheckpoint()">Submit!</button>
  </span>
</div>
